option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://postgres:MyntRealAdmin2026!@myntreal-database.c5gywaicq6zu.ap-south-2.rds.amazonaws.com:5432/postgres"
    PROD_DATABASE_URL: "postgresql://postgres:MyntRealAdmin2026!@myntreal-database.c5gywaicq6zu.ap-south-2.rds.amazonaws.com:5432/postgres"
    AWS_ACCESS_KEY_ID: "AKIATVG2ZPJOMUH2XQUE"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_S3_BUCKET_NAME: "myntreal-media-vault"
    AWS_REGION: "ap-south-2"
    FACEBOOK_APP_SECRET: "d85af3f659536b17ef2d993f08b545df"
    GITHUB_TOKEN: "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"
    GOOGLE_API_KEY: "AIzaSyC-XfgA0Fr1w5QdcOEzhfWwMVRgbiX6I6o"
    META_WHATSAPP_BUSINESS_ACCOUNT_ID: "2085096442059400"
    META_WHATSAPP_PHONE_NUMBER_ID: "1107174242473257"
    META_WHATSAPP_VERIFY_TOKEN: "EAAN8I2YZCanoBRAuus7WhJLJZBFlqkErNYIBgVFX5UvNYI3D2Ox47UE21lWHaTPs4eiohA4FKKZBgcMCOfkHxILrjJse19ZA4JWam0gWiw9bC34JnbwNajMwZAFAgoy5CoYr6loNZAHcoZBSRZAU3DliYuNF11gHPd1kbKZALsoU5K6hCZAXJmfHk7PdDelW4jWCRJawZDZD"
    SECRET_KEY: "_9ESmzWu7nu01WTMFSVD0dsJsOU1vHYJ_puMdAkfaRFPklOa1Nb95yJq2yPLwdAHyQnWptgPkMeJf0ks9ungMQ"
    SESSION_SECRET: "AxNGPWWtnU59NF2mIsj8DFlaPP0Vqz9bT4MB7RNRveWfmmBJ5YvUtJu4bWYOZXMcwyf6ZuS6pOaJM6XQrrgL2g=="
    TWILIO_AUTH_TOKEN: "965c91e6dc3b790c9d6084bab8458c48"
    TWILIO_SID: "AC2ffe6bf7fe0d71c13382e7137026b2a3"
    VGK_TEST_PASSWORD: "TestPass123!"
    FACEBOOK_PAGE_ACCESS_TOKEN: "EAAWCZArhAIAYBQWaW4xjp3rMGp2WyXjXhNC9dS879pbyS7fAb0RkZC1MuiGhNZA6oEJkAPZBZAZB9q1zZAohux2ZAcP10QvLX3cQLYs2zNaPNm2bfrx6GXvYGDxRpZCoLvBO0VdOyHxeF12lD8FdAu9YLWZATH3eihZCJV2LOJu7UslkGeZBCTHYclVMsyFn4Jn6QUw2h2zfI4BdWzQyyyK23cYFthkcoZBQ14qPx3qKhIC9otMEZD"
    FACEBOOK_WEBHOOK_VERIFY_TOKEN: "Secure@12345s"
    META_WHATSAPP_ACCESS_TOKEN: "EAAN8I2YZCanoBRGVywXHRVolLrPMX92Sxshk1yYyqAUtZAAYHA5ZCZC43nt47IMVKIMykTo1s55phrqZBUc4IVPP3hoZBGoHMEWXJebnZBn8y3NXOHtBLryOPpodQF7ZAYaGU7QwKikA7CfjConl6QuGIZB55ytUOqohZBQ3aufC6BvZBIjRb2NirPNcrR3mUR6ePESl5iNfuhG66QiuaHyZBuTbZBZAQvcuORslJk"
    MYOPERATOR_API_TOKEN: "b65e0c56e584e4c90cfa735076a111b1"
    MYOPERATOR_LOGIN_EMAIL: "9053899899"
    MYOPERATOR_LOGIN_PASSWORD: "Mynt@123"
    MYOPERATOR_WEBHOOK_SECRET: "e7e91f088e793d1c039566a8916d29b65c65135638217f2f235724655aef4fab"
    MYOPERATOR_X_API_KEY: "oomfKA3I2K6TCJYistHyb7sDf0l0F6c8AZro5DJh"
    OPENAI_API_KEY: "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"
    TWILIO_PHONE_NUMBER: "+18622897994"
    MYOPERATOR_API_COMPANY_ID: "698c722ae2411959"
    MYOPERATOR_COMPANY_ID: "4"
    MYOPERATOR_VIRTUAL_NUMBER: "2269470537"
    PLAYWRIGHT_TEST_PASSWORD: "PwTest@2024"
    TEST_ADMIN_PASSWORD: "PwTest@2024"
    TEST_ADMIN_USERNAME: "MNRPW004"
    TEST_FINANCE_PASSWORD: "PwTest@2024"
    TEST_FINANCE_USERNAME: "MNRPW003"
    TEST_RVZ_PASSWORD: "PwTest@2024"
    TEST_RVZ_STAFF_ID: "PW-RVZ-001"
    TEST_RVZ_STAFF_PASSWORD: "PwRvz@2024"
    TEST_RVZ_USERNAME: "MNRPW001"
    TEST_STAFF_EMPLOYEE_ID: "PW-STAFF-001"
    TEST_STAFF_PASSWORD: "PwStaff@2024"
    TEST_SUPERADMIN_PASSWORD: "PwTest@2024"
    TEST_SUPERADMIN_USERNAME: "MNRPW002"
    TEST_USER_MNR_ID: "MNRPW005"
    TEST_USER_PASSWORD: "PwTest@2024"
    WHATSAPP_NUMBER: "+15557099810"
    WHATSAPP_SANDBOX_MODE: "false"
